@charset "UTF-8";
/**
 * jquery垂直菜单布局
 * @authors Your Name (you@example.org)
 * @date    2016-04-12 17:28:25
 * @version $Id$
 */
.container ul{
	/*width: 100px;*/
	margin: 0;
	padding:4px 0;
	text-align: center;
	background: #f5f5f5;
}
ul li{
	margin: 0;
	padding:0;
	list-style: none;
}
ul >.main{
	padding:1px 8px ;
}
.main >a {
	text-align: center;
	padding: 2px 6px;
	background: #ff9966;
	color: #fff;

}
.main span{
	margin-right: 6px;
}
.main > ul{
	/*width: 100px;*/
	margin: 0 0 0 0px;
	padding:2px 8px ;
	background: #f5f5f5;
}
.main > ul a{
	color:#666;
}
.subNav{
	display: none;
}
.caret-r{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}