@charset "UTF-8";
/**
 * 
 * @authors Ale-cc (you@example.org)
 * @date    2017-07-06 23:47:00
 * @version 1.0.1
 * @description [description] 嵌套属性
 */

.box1 {
    border: {
        width: 1px;                
        top: solid #eee;
        left: solid #dedede;
    }
    font: {
        size: 12px;
        weight: bold;
    }
}

//Sass 中还提供属性嵌套，CSS 有一些属性前缀相同，只是后缀不一样，比如：border-top/border-right，与这个类似的还有 margin、padding、font 等属性。

//Failed to load sass-lint library. Please install sass-lint in your workspace folder using 'npm
