@charset "UTF-8";
/**
 * 
 * @authors Ale-cc (you@example.org)
 * @date    2017-07-06 23:47:00
 * @version 1.0.1
 * @description [description] 嵌套属性
 */
.box1 {
  border-width: 1px;
  border-top: solid #eee;
  border-left: solid #dedede;
  font-size: 12px;
  font-weight: bold;
}
