@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-06-23 15:47:00
 * @version $Id$
 */

$font_color_primary: blue;
$body_color: #fff0b0;

body{
	color: $font_color_primary;
	background: $body_color;
}